/.gradle/
/.idea/
/build/
/gradle/
/run/
/run-data/

/run/config/
/run/crash-reports/
/run/defaultconfigs/
/run/logs/
/run/mods/
/run/resourcepacks/
/run/saves/
/run/options.txt
/run/usercache.json
/run/usernamecache.json
/build/
/run/
